################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiVentas/bin/Debug/net8.0
/.vs/ApiVentas/FileContentIndex
/.vs/ApiVentas/config
/.vs/ApiVentas/v17/.suo
/.vs/ApiVentas/v17/DocumentLayout.json
*.wsuo
*.json
